:root {
    --main: lime;
    --light: #ffffff;
    --dark: #252525
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ebrima;
}

body {
    background-image: linear-gradient(rgb(0, 255, 0, 0.3), rgba(0, 0, 0, 100%)), url("WSD_LAB_1_IMG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--main);
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 3px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--main);
}

.hamburger.active-true span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active-true span:nth-child(3) {
    transform: translate(-3px, 6px) rotate(-45deg);
}

.hamburger.active-true span:nth-child(2) {
    opacity: 0;
    transform: translate(15px)
}

.hamburger.active-true:hover span {
    background-color: var(--main);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.active-true, .menu a:hover {
    background-color: var(--main);
}


@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
    }
}


/*Form*/

.form-container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    background-color: var(--light);
    width: 80%;
    border-radius: 20px;
}

.form-container h2 {
    text-transform: uppercase;
}

.form-img {

}

.main-cont {
    display: flex;
    justify-content: center;
}


.reg-form form table tr td {
    padding: 20px;
    /*border: 1px solid black;*/
    width: 50%;

}

.input-div {
    display: flex;
    flex-direction: column;
}

.input-div label {
    font-size: 20px;
    font-weight: 600;
}

.input-div input {
    margin-top: 20px;
    border: 1px solid var(--main);
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;

}

.input-div select {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--main);
}

.gender-radio input {
    margin: 5px;
}

tr td button {
    padding: 12px 24px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--main);
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 600;
}

tr td button:hover {
    background-color: var(--main);
    color: white;

}

/*Footer*/

.footer{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    bottom: 0;
    background-color: black;
    z-index: 1;
}

.foot-content{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.foot-content h2 {
    text-transform: uppercase;
}

.foot-content .oList ol, .foot-content .uList ul{
    margin-top: 20px;
}

/*Image Map*/

.img-map {
    margin-top: 5rem;
}

.img-map img {
    height: 100vh;
    width: 100vw;
}